{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#</head>#}
{#<body>#}
{#<div class="row justify-content-md-center mb-4">#}
{#    <h3 class='text-primary'>Prediction</h3>#}
{#</div>#}
{#</body>#}
{#</html>#}

<div class="row justify-content-md-center mb-4">
        <h3 class='text-primary'>Prediction is {{ prediction[0] }}</h3>
        <img src="static/img/iris/iris_images.png">

</div>

{#    <div class="row justify-content-md-center">#}
{#        <div class="thumbnail">#}
{#            {% if prediction[0] == "Iris-setosa" %}#}
{#                <img src="{{url_for('static', filename='images/iris_setosa.jpg')}}" class="img-thumbnail" />#}
{#            {% endif %}#}
{#        </div>#}
{#    </div>#}
{##}
{#    <div class="row justify-content-md-center">#}
{#        <div class="thumbnail">#}
{#            {% if prediction[0] == "Iris-versicolor" %}#}
{#                <img src="{{url_for('static', filename='images/iris_versicolor.jpg')}}" class="img-thumbnail" />#}
{#            {% endif %}#}
{#        </div>#}
{#    </div>#}
{##}
{#    <div class="row justify-content-md-center">#}
{#        <div class="thumbnail">#}
{#            {% if prediction[0] == "Iris-virginica" %}#}
{#                <img src="{{url_for('static', filename='images/iris_virginica.jpg')}}" class="img-thumbnail" />#}
{#            {% endif %}#}
{#        </div>#}
{#    </div>#}

<div id="popup">
    <div class="popupcontrols">
        <span id="popupclose">X</span>
    </div>
    <div class="popupcontent">
        <h1>Some Popup Content</h1>
    </div>
</div>
<script type="text/javascript">
	// Initialize Variables
	var closePopup = document.getElementById("popupclose");
	var overlay = document.getElementById("overlay");
	var popup = document.getElementById("popup");
	var button = document.getElementById("button");
	// Close Popup Event
	closePopup.onclick = function() {
	  overlay.style.display = 'none';
	  popup.style.display = 'none';
	};
	// Show Overlay and Popup
	button.onclick = function() {
	  overlay.style.display = 'block';
	  popup.style.display = 'block';
	}
</script>