<!DOCTYPE html>
<html lang="en">
<head>
<title>Page Title</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
/* Style the body */
body {
  font-family: Arial;
  margin: 0;
}

/* Header/Logo Title */
.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}

/* Page Content */
.content {padding:20px;}
</style>
</head>
<body>

<div class="header">
  <h1>Dashboards Created By Me</h1>
  <p>Wilmer Tejada</p>
</div>

<body>
<div class="Dashboard 1" align="middle">
  <h1>Dashboard 1: Faculty and Staff Demographics </h1>
  <img src="static/img/Dashboard Examples/Dashboard Example 1.png" width="1200" height="800" alt="Computer Hope">>
 </div>

<div class="Dashboard 2" align="middle">
  <h1>Dashboard 2: What Courses Experience the Largest Drop In Enrollments? </h1>
  <img src="static/img/Dashboard Examples/Dashboard Example 2.png" width="1200" height="800" alt="Computer Hope">>
 </div>

<div class="Dashboard 3" align="middle">
  <h1>Dashboard 3: Distribution of Letter Grades Awarded  </h1>
  <img src="static/img/Dashboard Examples/Dashboard Example 3.png" width="1200" height="800" alt="Computer Hope">>
 </div>

<div class="Dashboard 4" align="middle">
  <h1>Dashboard 4: Degrees and Certificates Awarded by Academic Year </h1>
  <img src="static/img/Dashboard Examples/Dashboard Example 4.png" width="1200" height="800" alt="Computer Hope">>
 </div>

<div class="Dashboard 5" align="middle">
  <h1>Dashboard 5: California Law (AB 705) Adherence </h1>
  <img src="static/img/Dashboard Examples/Dashboard Example 5.png" width="1200" height="800" alt="Computer Hope">>
 </div>

</div>
</body>
</html>