<!DOCTYPE html>
<html lang="en">
<head>
<title>Page Title</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
/* Style the body */
body {
  font-family: Arial;
  margin: 0;
}

/* Header/Logo Title */
.header {
  padding: 10px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}

/* Page Content */
.content {padding:20px;}
</style>
</head>
<body>

<div class="header">
  <h1>Power BI Example</h1>
  <p>Simple dashboard embedded in a web page.</p>
</div>
<div align="center">
    <iframe width="1024" height="1060" src="https://app.powerbi.com/view?r=eyJrIjoiYzQ3MTIxNTItMzk0My00ZWUwLTg0ZmItZThlNGRmOGVjY2U1IiwidCI6IjdjYzhlMzU3LTQ2OGQtNDcyYy1hNmZjLWM1NjAwZTc4OWI1NSIsImMiOjZ9&pageName=ReportSection" frameborder="0" allowFullScreen="true"></iframe>
</div>
</body>
</html>